{% extends 'base.html' %} {% load static %} {% block content %}

<div class="content-body">
  <div class="container">
    <div class="row page-titles">
      <div class="col p-0">
        <h4>Assalomu alaykum, <span>Xush kelibsiz!</span></h4>
      </div>
      <div class="col p-0">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="javascript:void(0)">Table</a>
          </li>
          <li class="breadcrumb-item active">Layout</li>
        </ol>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Xodimlar davomati</h4>
            <div class="table-responsive">
              <table class="table">
                <thead class="thead-primary">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ism-Familiya</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefon raqami</th>
                    <th scope="col">Davomat</th>
                    <th scope="col">Tahrirlash</th>
                    <th scope="col">O'chirish</th>
                  </tr>
                </thead>
                <tbody>
                  {% for attendance in attendances %}
                  <tr>
                    <th>{{forloop.counter}}</th>
                    <td>{{attendance.employee.full_name}}</td>
                    <td>{{attendance.employee.email}}</td>
                    <td>{{attendance.employee.phone}}</td>
                    <td>{{attendance.arrival_time}}</td>
                    <td>
                      <a
                        href="{% url 'employee_update' attendance.employee.id%}"
                        >update</a
                      >
                    </td>
                    <td>
                      <a
                        href="{% url 'employee_delete' attendance.employee.id%}"
                        >delete</a
                      >
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- #/ container -->
</div>
{% endblock %}
